.tr-highlighted {
  background-color: #f5f5f4;
}
.dicom-sort thead th {
  font-weight: bold;
}
.start-button {
  padding-left: 15px;
}
#selected-directory {
  padding: 15px;
}
#statistics {
  padding: 0 0 15px 15px;
}
