<section class="format">
  <div class="center">
    <h1>Select your format</h1>
    <div class="card half">
      <h2>SciTran</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eveniet error suscipit voluptatum, commodi.</p>
      <h2>Data Format</h2>
      <div class="data-format">
        <span class="level-1">Project</span>
        <span class="level-2">Project</span>
        <span class="level-3">Project</span>
      </div>
      <a href="" class="button primary">Select SciTran Format</a>
    </div>
    <div class="card half">
      <h2>SciTran</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eveniet error suscipit voluptatum, commodi.</p>
      <h2>Data Format</h2>
      <div class="data-format">
        <span class="level-1">Project</span>
        <span class="level-2">Project</span>
        <span class="level-3">Project</span>
      </div>
      <a href="" class="button primary">Select SciTran Format</a>
    </div>
  </div>
</section>
