<!-- <div className="padded-more">
  <div className="start-button">
	<button className="btn btn-positive btn-large" ng-click="main.selectFolder()">Show files in folder</button>
  </div>
  <br>
  <div>
	Data format: <select class="form-control" ng-model="main.viewType" ng-change="main.updateView()">
	  <option value="series">Scitran</option>
	  <option value="bids">BIDS</option>
	  <option value="bids-to-series">BIDS to Scitran</option>
	</select>
  </div>
  <div id="selected-directory">
  </div>
  <div id="error">
  </div>
  <div id="message">
  </div>
  <div ui-view>
  </div>
</div> -->
<div class="full-view">
  <!-- Header -->
  <header>
  <img src="img/logo.png" class="logo">
	<div class="progress">
	  <a ng-class="{active: $state.is('main.load')}" ng-click="$state.go('main.load')"><span class="fa fa-check"></span>Load Data</a>
	  <a ng-class="{active: $state.is('main.format')}" ng-click="$state.go('main.format')"><span class="fa fa-circle-o"></span>Select Format</a>
	  <a ng-class="{active: $state.is('main.organize')}" ng-click="$state.go('main.organize')"><span class="fa fa-circle-o"></span>Organize Data</a>
	  <a ng-class="{active: $state.is('main.save')}" ng-click="$state.go('main.save')"><span class="fa fa-circle-o"></span>Save Data</a>
	  <a ng-class="{active: $state.is('main.upload')}" ng-click="$state.go('main.upload')"><span class="fa fa-circle-o"></span>Upload Data</a>
	</div>
  </header>

<div ui-view class="full-view"></div>

	<footer>
		<!-- Progress Bar -->
		<div class="progress-bar" ng-show="main.progress.state">
			<div class="progress" ng-style="{width: main.progress.state + '%'}"></div>
		</div>

		<!-- Buttons -->
		<a class="button disabled">Go Back</a>
		<a href="" class="button primary"><strong>Next Step:</strong> <em>Select Format</em></a>
	</footer>
</div>
