<section class="organize">
  <div class="list">
    <div class="toggle" ng-repeat="project in organize.projects">
      <h3 class="project-title">
        <span ng-click="project.editing=!project.editing;project._label=project.label" ng-show="!project.editing" class="project-title">
          <span class="fa fa-sort-up"></span>{{project.label}}
          <span class="fa fa-pencil"></span>
        </span>
        <span class="input-title" ng-show="project.editing">
          <input type="text" ng-model="project._label" ng-keyup="organize.handleKeyOnInput(project, 'label', $event)" class="project-title">
        </span>
      </h3>
      <div class="content">
        <table class="clickable">
          <thead>
            <th width="20"><input type="checkbox" ng-click="organize.select(project)" ng-checked="project.state==='checked'" ng-class="{indeterminate: project.state==='indeterminate'}"></th>
            <th>Session Name</th>
            <th width="200">Subject Code</th>
            <th width="200"># of Acquisitions</th>
          </thead>
          <tbody ng-repeat="(sessionUID, session) in project.children">
            <tr>
              <td><input type="checkbox" ng-click="organize.select(session)" ng-checked="session.state==='checked'" ng-class="{indeterminate: session.state==='indeterminate'}"></td>
              <td ng-click="session.show=!session.show">
                <span class="fa" ng-class="{'fa-sort-down':!session.show, 'fa-sort-up':session.show}"></span>
                {{session.sessionTimestamp.readable}}
              </td>
              <td>{{session.patientID}}</td>
              <td>{{session.children | objLength}}</td>
            </tr>
            <tr class="no-click" ng-if="session.show">
              <td colspan="4">
                <table>
                  <thead>
                    <th width="20"></th>
                    <th>Acquisition Label</th>
                    <th width=200>Timestamp</th>
                    <th width="100">Size</th>
                    <th width="100"># of Files</th>
                  </thead>
                  <tr ng-repeat="(acqUID, acquisition) in session.children">
                    <td width="20"><input type="checkbox" ng-click="organize.select(acquisition)" ng-checked="acquisition.state==='checked'" ng-class="{indeterminate: acquisition.state==='indeterminate'}"></td>
                    <td>{{acquisition.acquisitionLabel}}</td>
                    <td>{{acquisition.acquisitionTimestamp.readable}}</td>
                    <td>{{organize.humanReadableSize(acquisition.size)}}</td>
                    <td>{{acquisition.count}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div ng-repeat="(key, fileErrors) in organize.fileErrors">
      <div class="toggle" ng-if="fileErrors.files.length">
        <h3 class="project-title" ng-click="fileErrors.expanded = !fileErrors.expanded">
          <span class="fa" ng-class="{'fa-sort-up': !fileErrors.expanded, 'fa-sort-down': fileErrors.expanded}">
          </span>{{fileErrors.title}} ({{fileErrors.files.length}} total)
        </h3>
        <table class="clickable" ng-if="fileErrors.expanded">
          <thead>
            <th>File name</th>
            <th>Cause of error</th>
          </thead>
          <tbody>
            <tr ng-repeat="file in fileErrors.files">
              <td>{{file.basename}}</td>
              <td ng-if="file.message">{{file.message}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="sidebar">
    <h2>Filter &amp; Sort</h2>
    <div class="form-group">
      <label for="search">Search</label>
      <input type="text" placeholder="session name, acquisition label, etc.">
    </div>
    <div class="form-group">
      <label>Subject Sex</label>
      <select>
        <option>Select option</option>
        <option>male</option>
        <option>female</option>
      </select>
    </div>
    <div class="form-group">
      <label>Subject Age</label>
      <input type="number" placeholder="from">
      <input type="number" placeholder="to">
    </div>
    <div class="form-group">
      <label>Measurement Type</label>
      <select>
        <option>Select option</option>
        <option>Anatomy T1</option>
        <option>Anatomy T2</option>
        <option>Diffusion</option>
        <option>Functional</option>
      </select>
    </div>
    <a href="" class="button">Reset Filters</a>
  </div> -->
</section>
