<section class="format">
  <div class="center">
    <h1>Save &amp; Export Data</h1>
    <div class="card half">
      <h2>Save to Disk</h2>
      <p>Select a folder and download your organized dataset.</p>
      <a href="" class="button primary">Save to Hard Drive</a>
    </div>
    <div class="card half">
      <h2>Upload to Flywheel.io</h2>
      <p>Select the URL where you want to upload your organized dataset.</p>
      <a href="" class="button secondary" ng-click="steps.next()">Upload to Flwheel.io</a>
    </div>
  </div>
</section>
