<section class="upload">
  <div class="center">
    <h1>Save &amp; Export Data</h1>
    <div class="card">
      <h2>Upload to Flywheel.io</h2>
      <p>Provide the instance URL and your API key to upload the data.</p>
      <div class="form-group">
        <label for="url">Flywheel URL</label>
        <input type="text" id="url" ng-model="upload.url" ng-change="upload.groups=[];upload.destinationGroup=null">
      </div>
      <div class="form-group">
        <label for="url">Flywheel API key</label>
        <input type="password" id="url" ng-model="upload.apiKey" ng-change="upload.groups=[];upload.destinationGroup=null">
      </div>
      <div class="form-group checkbox" >
        <label for="asRoot">Admin Operation</label>
        <input type="checkbox" id="asRoot" ng-model="upload.asRoot" ng-change="upload.reloadGroups()">
      </div>
      <div class="form-group" ng-show="!upload.groups.length">
        <button class="button primary" ng-click="upload.loadGroups()" ng-disabled="!(upload.url && upload.apiKey)">Load groups</button>
      </div>
      <div class="form-group" ng-show="upload.groups.length">
        <select ng-options="group as group.name for group in upload.groups" ng-model="upload.destinationGroup" ng-change="upload.loadProjects()">
          <option value="" ng-if="!upload.destinationGroup">- Select Group -</option>
        </select>
      </div>
      <div class="margin-40 warning">{{upload.projectWarning}}</div>
      <button class="button secondary" ng-click="upload.upload()" ng-disabled="!upload.destinationGroup || main.busy.state">Upload to Flwheel.io</button>
    </div>
  </div>
</section>
