{
    "root": true,

    "env": {
        "es6": true,
        'browser': true,    // for the browser
        'commonjs': true
    },

    "ecmaFeatures": {
        "modules": true
    },
    "plugins": [
    ],

    "extends": ["eslint:recommended"],

    "rules": {
      "indent": ["error", 2],
      "no-console": 1
    }
}
