// Buttons
.button {
	display:inline-block;
	padding:10px 12px 12px;
	background:#FFF;
	color:#666;
	text-decoration:none;
	border-radius:$radius;
	border:1px solid darken($lightblue, 5%);
	font-size:12px;
	font-weight:600;
	box-shadow:0px 1px 3px rgba(0, 0, 0, .04);
	cursor:pointer;
	@include select(none);
	small {font-weight:400;}
	em {font-weight:400;}

	// Hover
	&:hover {
		color:#000;
		border-color:darken($lightblue, 20%);
		box-shadow:0px 2px 5px rgba(0, 0, 0, .06);
	}

	// On Click
	&:active {
		box-shadow:inset 0px 2px 5px rgba(0, 0, 0, .08);
	}

	// Disabled
	&.disabled {
		opacity:0.5;
		&:hover {cursor:not-allowed;}
	}

	// Primary Buttons
	&.primary {
		background:$darkblue;
		color:#FFF;
		border-color:darken($darkblue, 6%);
		&:hover {background:lighten($darkblue, 3%);}
	}

	// Large Buttons
	&.large {
		padding:15px 20px 17px;
		text-align:center;
		strong {display:block; margin-bottom:4px;}
		small {font-size:12px; color:rgba(255, 255, 255, .7);}
	}
}
