// Font Stacks
$font-main:         -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-icon:         "FontAwesome";

// Sizes
$radius:            4px;
$tiny:              500px;
$small:             700px;
$medium:            1140px;
$large:             960px;
$larger:            1140px;

// Colors
$darkblue:          #5871a2;
$lightblue:         #e7e9ef;
$lighterblue:       lighten(#e7e9ef, 5%);
